.QrVerification {}

.QrImage {
    text-align:center;
    margin-top: 30px;
}

.ImageToScan {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.HelperText {
    font-size: 12px;
    font-style: italic;
}