.LoanDetails {}

.boxContainer
{
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

.boxContainer article {
    margin-top: 30px;
}

.ImageToScan {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 15px;
}